<ion-view view-title="活动详情">
    <ion-content class="stable-bg"   on-scroll="toTopScroll()" >
    
<ion-slide-box  auto-play="true" does-continue="true" slide-interval="2000" id="top">
    <ion-slide>
        <div class="box2 blue"><img src="img/find.jpg"></div>

    </ion-slide>
    <ion-slide>
    <div class="box2 blue"><img src="img/post1.jpg"></div>
</ion-slide>
    <ion-slide>
        <div class="box2 blue"><img src="img/5.jpg"></div>
    </ion-slide>
</ion-slide-box>
         <div class="message light-bg">
            <p>【2017年 旅游快进 】亲子游巴拉巴拉 建行卡号地块骄傲好滴好滴继续</p> 
            <p><span><下班去哪>华东最棒严管</span></p>
            <p class="assertive">￥ 1888.00起</p>
           
        </div>
        <div class="disbanner">
        	<div class="discount"><span class="assertive-bg xsbtn light">优惠</span><span class="dismess ">注册送十元代金券</span></div>
        	<div class="discount"><span class="xsbtn assertive">立减</span><span class="dismess ">下单立减</span></div>
        </div>
        <div class="light-bg" style="padding-left: 20px;"><img src="img/dizhi2.png" width="20px" height="20px" style="margin-top: 10px; margin-right:10px ;"><span class="dismess" style="position: absolute;margin-top: 10px;">集合地:浙江省 杭州</span></div>
      

       	<div class="datebanner light-bg">
       		<div class="dateimg"><img src="img/date.png" width="20px" height="20px"></div>
       	   
       	    <div  class="choosedate">选择日期</div>
       	 
       	
       	</div>
   
   
   	    <ion-scroll  zooming="true" direction="x" style="width: 500px; height: 75px"> 
   	  	<div class="datewrapper light-bg">
   	<ul class="dateul" id="dateul">
   	   <li class="datebox">
   	   	<p>08-23(周三)</p>
   	   	<p class="price3">￥329</p>
   	   </li>
   	
   	 <li class="datebox">
   	   	<p>08-24(周四)</p>
   	   	<p class="price3">￥329</p>
   	   </li>
   	
   	
   	 <li class="datebox">
   	   	<p>08-25(周五)</p>
   	   	<p class="price3">￥329</p>
   	   </li>
   	   
   	    <li class="datebox">
   	   	<p>08-26(周六)</p>
   	   	<p class="price3">￥329</p>
   	   </li>
   	   
   	    <li class="datebox">
   	   	<p>08-27(周日)</p>
   	   	<p class="price3">￥329</p>
   	   </li>
   	   
   	 
   	   </ul> 
   	  	</div> 
   	  </ion-scroll> 

       <div class="datebanner light-bg" ui-sref="frame.pannel">
       	<img src="img/1.jpg">	<img src="img/2.jpg">	<img src="img/3.jpg"><img src="img/4.jpg"> 
       	<span style="float: right;margin-top: -5px;">55人报名 <span style="color: #FDD87E; font-size:20px ;">></span></span>
       </div>
       <ul id="ul2" class="light-bg defaultClass">

         <a ng-click="demo1();"><li>须知</li></a>
      <a ng-click="demo2();"><li>行程</li> </a>
           <a ng-click="demo3();"><li> 费用</li></a>
          <a ng-click="demo4();"><li>目的地</li>	</a>																																																																		
       </ul>
    <div class="padding"id="know">
    	<p class="arttit"><img src="img/shuoming.png" ><span>活动说明</span></p>
        <div>
         <p>本事大客户v靠山吃山</p>
    	 <p>本事大客户v靠山吃山</p>
    	 <p>本事大客户v靠山吃山</p>
    	 <p>本事大客户v靠山吃山</p>
    	 <p>本事大客户v靠山吃山</p>
    	</div>
    </div>
<div class="padding"id="journey">
    	<p class="arttit"><img src="img/xingchen.png" width="18px" height="18px"><span>行程</span></p>
    	<div>
         <p>本事大客户v靠山吃山</p>
    	 <p>本事大客户v靠山吃山</p>
    	 <p>本事大客户v靠山吃山</p>
    	 <p>本事大客户v靠山吃山</p>
    	 <p>本事大客户v靠山吃山</p>
    	</div>
    </div>

<div class="padding" id="cost">
    	<p class="arttit"><img src="img/feiyong.png" width="30px" height="30px"><span>费用</span></p>
         <div >
         <p>本事大客户v靠山吃山</p>
    	 <p>本事大客户v靠山吃山</p>
    	 <p>本事大客户v靠山吃山</p>
    	 <p>本事大客户v靠山吃山</p>
    	 <p>本事大客户v靠山吃山</p>
    	</div>
    </div>

<div class="padding"id="bourn">
    	<p class="arttit"><img src="img/mudi.png" width="30px" height="30px"><span>目的地</span></p>
         <div >
         <p>本事大客户v靠山吃山</p>
    	 <p>本事大客户v靠山吃山</p>
    	 <p>本事大客户v靠山吃山</p>
    	 <p>本事大客户v靠山吃山</p>
    	 <p>本事大客户v靠山吃山</p>
    	</div>
    </div>

     
</ion-content>

 <div class="foot">
	
	<div class="kefu">
		
		 <img src="img/kefu.png" width="30px" height="30px">
	
	
	</div>
	 <div class="buy_button2 light" ui-sref="frame.ordermess" >立即购买</div> 

</div>
    <div class="top"ng-show='showTop' ng-click="returntop();"><img src="img/top.png"></div>
<ul id="ul22" class="light-bg chosenClass defaultClass" ng-show='showTop'>
         <a ng-click="demo1();"><li>须知</li></a>
      <a ng-click="demo2();"><li>行程</li> </a>
           <a ng-click="demo3();"><li> 费用</li></a>
          <a ng-click="demo4();"><li>目的地</li>	</a>																																																																		
       </ul>
</ion-view>
       
